@import 'modules/_variables';

// Base Layout & Typography Setup

* {
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

body {
  font-family: $font-family-sans;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  margin: 6rem 2rem;
  background: linear-gradient(to left, darken($blue,4%) , darken($blue,18%));


}

.link-github {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-decoration: none;
  color: rgba($white,.6);
  font-size: .9rem;
  &:hover {
    color: $white;
    .icon {
      color: $white;
    }
  }
  .icon {
    position: relative;
    top: .1rem;
    color: rgba($white,.6);
    font-size: 1.2rem;
    margin-right: .4rem;   
  }
  
}

.card {
  background-color: $white;
  max-width: 24rem;
  margin: 0 auto;
  box-shadow: 0px 12px 12px 6px rgba(darken($blue,20%), .4);
  border-radius: .3rem;
}

.card-title {
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: $gray-label;
}

.card-display {
  padding: 2rem 1rem;
  display: relative;
  text-align: center;
}

.card-display-count {
  font-weight: 200;
  font-size: 6rem;
  line-height: 6rem;
}

.card-display-label {
  color: $gray-label;
  font-size: .8rem;
  line-height: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.card-button-group {
  @media screen and (min-width: 32rem) {
    display: flex;
    justify-content: space-between; 
  }
  padding: 1rem 1rem 2rem;
}

button {
  width: 100%;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  cursor: pointer;
  border: none;
  padding: .8rem 2rem;
  margin-bottom: 1rem;
  color: $white;
  border-radius: 4px;
  transition: all 80ms ease-in-out;
  @media screen and (min-width: 32rem) {
    width: 46%;
    margin-bottom: 0;
    &:hover {
      transform: scale(1.1);
    }
  }
  &:focus {
    outline: 0;
  }
}

.button-increase {
  background-color: $green;
}

.button-decrease {
  background-color: $red;
}

.button-score-wrapper {
  margin-top: 1rem;
  @media screen and (min-width: 32rem) {
    margin-left: 1rem;
    margin-top: 0;
  }
}

.button-score {
  background-color: $blue;
  width: 100%;
}

input[type="number"] {
  width: 100%;
  font-size: 1rem;
  border: 1px solid $silver;
  border-radius: 4px;
  padding: .6rem .6rem .64rem;
  box-shadow: inset 0px 0px 10px -6px rgba(0,0,0,0.75);
  &:focus {
    outline: 0;
    box-shadow: 0px 0px 10px 1px rgba($blue, .2);
    border-color: lighten($blue,22%);
  }
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder {  
  font-style: italic;
}

.card-footer {
  border-top: 1px solid lighten($silver,10%);
  padding: 2rem 1rem;
  @media screen and (min-width: 32rem) {
    display: flex;  
  }
}